<ng-container *ngIf="{user: user$ | async} as observables">
<table>
    <tr>
        <td>Id</td>
        <td>first name</td>
        <td>last name</td>
        <td>gender</td>
    </tr>
    <tr *ngIf="observables.user">
        <td class="user-id">{{observables.user.id}}</td>
        <td class="user-first-name">{{observables.user.firstName}}</td>
        <td class="user-last-name">{{observables.user.lastName}}</td>
        <td class="user-gender">{{observables.user.gender | gender}}</td>
    </tr>
</table>
</ng-container>